*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test

elm-stuff
.pytest_cache
.idea
podcastpy/static/index.html
build
run.sh
podcastpy.log
ui/node_modules
ui/package-lock.json