* {
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html {
  position: fixed;
  overflow: hidden;
   height:100%;
   width:100%;
   background-color: rgba(238,238,238,1);
}